@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Mona Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Mona-Sans/Mona-Sans.woff2) format("woff2");
    font-weight: 400 400;
    font-stretch: 100% 125%;
  }
}

* {
  margin: 0;
  font-family: "Mona Sans", Garamond;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
